<div class="flex flex-col gap-3 justify-center min-h-[calc(100vh-100px)] max-w-sm mx-auto">
    <div class="text-center text-5xl font-semibold mb-3">
        Auth Portal
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="John Doe" [formControl]="usernameFormControl">
        <mat-icon matSuffix>person</mat-icon>

        <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username cannot be <strong>empty</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="**********"
            [formControl]="passwordFormControl">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password cannot be <strong>empty</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Select User Type</mat-label>
        <mat-select class="w-full" [formControl]="userTypeFormControl">
            <mat-option *ngFor="let user of userTypes" [value]="user">
                {{user}}
            </mat-option>
        </mat-select>

        <mat-error *ngIf="userTypeFormControl.hasError('required')">
            User Type cannot be <strong>empty</strong>
        </mat-error>
    </mat-form-field>

    <div class=" flex flex-row gap-3 justify-between">
        <button mat-raised-button color="primary" class="text-xl" [disabled]="!isFormValid()"
            (click)="authenticateUser('login')">Login</button>
        <button mat-raised-button color="accent" class="text-xl" [disabled]="!isFormValid()"
            (click)="authenticateUser('signup')">Signup</button>
    </div>
</div>